{% extends "index/base.html" %}
{% block content %}
<div class="card card-rounded">
  <div class="card-body">
    <div class="d-sm-flex justify-content-between align-items-start">
      <div>
        <h4 class="card-title card-title-dash mt-1">Analytics</h4>
      </div>
    </div>
    <hr />
    <ol class="text-muted" style="font-size: 24px;">
      {% for item in analytics %}
      <li>
        <p style="font-weight:400; font-size: 24px;"> {{ item.question_text }} </p>
      </li>
      <div class='chart-container w-100 h-50'>
        <canvas class="chart" style="height: auto;"></canvas>
      </div>
      {% endfor %}
    </ol>
  </div>

  <br />
</div>
{%endblock%}