{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Survey</title>
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="{% static 'survey/css/vendor/w3.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'survey/css/vendor/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'survey/css/vendor/jquery-editable-select.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'survey/css/vendor/dataTables.bootstrap4.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'survey/css/app/fonts.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'survey/css/app/survey.css' %}" />
    </head>

    <body id='page-top'>
        <nav class='navbar navbar-expand-sm navbar-dark bg-dark fixed-top shadow'>
            <div class='container'>
              <a class='navbar-brand' href="{% url 'index' %}"><i class='fas fa-home'></i> MyBQualityScan</a>
              <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#collapsibleNavbar'>
                <span class='navbar-toggler-icon'></span>
              </button>

              <div class='collapse navbar-collapse justify-content-end' id='collapsibleNavbar'>
                <ul class='nav navbar-nav'>
                  <li class='nav-item no-arrow dropdown'>
                    <a class='nav-link dropdown-toggle' href='#' id='pagesDropdown' data-toggle='dropdown'>
                      <i class='fas fa-chalkboard'></i>
                      Survey
                    </a>
                    <div class='dropdown-menu'>
                      <a class='dropdown-item' href="{% url 'recipients' %}"><i class='fas fa-user-cog'></i> Add or Edit Recipients</a>
                      <a class='dropdown-item' href="{% url 'questions' %}"><i class='far fa-edit'></i> Add or Edit Questions </a>
                      <a class='dropdown-item' href="{% url 'answers' %}"><i class='far fa-edit'></i> Add or Edit Answers </a>
                    </div>
                  </li>
                  <li class='nav-item'>
                    <a class='nav-link' href="{% url 'analytics' %}">
                      <i class='fas fa-chart-pie'></i>
                      <span>Analytics</span></a>
                  </li>
                  <li class='nav-item no-arrow dropdown'>
                    <a class='nav-link dropdown-toggle' href='#' id='pagesDropdown' data-toggle='dropdown'>
                      <i class='fas fa-cog'></i>
                      <span>Settings</span>
                    </a>
                    <div class='dropdown-menu'>
                      <a class='dropdown-item' href='#'><i class='fas fa-user-plus'></i> Add New User</a>
                      <a class='dropdown-item' href='#'><i class='fas fa-users'></i> View and Edit Users</a>
                      <a class='dropdown-item' href='#'><i class='fas fa-key'></i> Change Password</a>
                    </div>
                  </li>
                  <li class='nav-item'>
                    <a class='nav-link' href='#'><i class='fas fa-user'></i> User Profile </a>
                  </li>
                  <li class='nav-item'>
                    <a class='nav-link' href="{% url 'logout' %}"><i class='fas fa-sign-out-alt'></i> Log Out</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
        <footer class='footer text-white-50 footer-shadow bg-dark'>
            <div class='container my-auto'>
                <div class='text-left my-auto' style='font-family: Raleway'>
                Copyright &copy; <span style='font-family: GoogleSans'>{% now 'Y' %}</span> | Created for SafeCare Ghana. All rights
                reserved.
                </div>
            </div>
        </footer>

        <!-- Back to top -->
        <a class='scroll-to-top rounded-circle shadow' href='#page-top'>
          <i class='fas fa-angle-up'></i>
        </a>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'survey/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'survey/js/vendor/bootstrap.min.js' %}"></script>

        <!-- Core plugin JavaScript -->
        <script src="{% static 'survey/js/vendor/jquery.easing.min.js' %}"></script>

        <!-- Page level plugin JavaScript -->
        <script src="{% static 'survey/js/vendor/Chart.min.js' %}"></script>
        <script src="{% static 'survey/js/vendor/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'survey/js/vendor/dataTables.bootstrap4.min.js' %}"></script>


        <!-- Demo scripts for this page -->
        <script src="{% static 'survey/js/vendor/jquery-editable-select.min.js' %}"></script>
        <script src="{% static 'survey/js/vendor/jqBootstrapValidation.js' %}"></script>
        <script src="{% static 'survey/js/vendor/bootbox.min.js' %}" ></script>
        <script src="{% static 'survey/js/vendor/notiflix-aio-2.1.2.min.js' %}"></script>

        <script src="{% static 'survey/js/app/survey.js' %}"></script>
    </body>
</html>