{% extends "index/base.html" %}
{% block content %}

<!-- DataTables Example -->
<div class="card mb-3 card-rounded">

  <div class="card-body">
    <div class="d-sm-flex justify-content-between align-items-start">
      <div>
        <h4 class="card-title card-title-dash mt-1">Recipients</h4>
      </div>

      <a href='#' class='btn btn-primary shadow float-right' id="addRecipient"><i class='fas fa-plus'></i> Add Recipient
      </a>
    </div>
    <hr />
    <div class="table-responsive">
      <table class="table table-hover" id="dataTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Contact Number</th>
            <th>Institution</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Contact Number</th>
            <th>Institution</th>
            <th>Action</th>
          </tr>
        </tfoot>
        <tbody>
          {% for recipient in recipients %}
          <tr>
            <td>{{ recipient.name }}</td>
            <td>{{ recipient.email }}</td>
            <td>{{ recipient.contact_number }}</td>
            <td>{{ recipient.institution }}</td>
            <td>
              <a class="btn btn-primary" onclick="viewRecipientData('{{ recipient.id }}')">
                <em class="fas fa-pencil-alt"></em>
              </a>
              <button type="button" class="btn btn-danger" onclick="sendSurveyEmail('{{ recipient.id }}')">
                <em class="fas fa-paper-plane"></em>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>


<!-- Beginning of Add Modal -->
<div class="modal fade" id="recipientModal" tabindex="-1" role="dialog" aria-labelledby="recipientModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="recipientModalLabel"> Recipient Data </h3>
      </div>

      <div class="modal-body">

        <form id="recipient-form" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="text" class="d-none" id="id" name="id">
          <div class='mb-3'>
            <input type='text' class='form-control' name='name' id='name' placeholder='Recipient Full Name' required>
          </div>
          <div class='mb-3'>
            <input type='text' class='form-control' name='email' id='email' placeholder='Recipient Email Address'
              required>
          </div>
          <div class='mb-3'>
            <input type='text' class='form-control' name='contact_number' id='contact_number'
              placeholder='Recipient Contact Number' required>
          </div>
          <div class='mb-1'>
            <input type='text' class='form-control' name='institution' id='institution'
              placeholder='Recipient Institution' required>
          </div>
        </form>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" form='recipient-form' id="saveRecipient"> Save Data </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"> Cancel </button>
      </div>

    </div>
  </div>
</div>
<!-- End of Add Modal -->

{%endblock%}