{% extends "index/survey_base.html" %}
{% block content %}
<div class="parallax">
    <div class="overlay">
      <div class="jumbotron center" style="background-color: transparent !important">
        <h1 style="font-family: Raleway; font-size: 65px"> MyBQualityScan </h1>
        <h3 class='text-warning' id="sendMessage" style='font-family: Raleway; font-size: 20px; font-weight: 300;'>
          Congratulations! You have successfully finished filling the survey. Please check your mail with our recommendations based on your answers.
        <h3>
      </div>
    </div>
</div>
{% endblock %}