{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Survey</title>
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'survey/css/vendor/w3.css' %}" /> -->
  <link rel="stylesheet" type="text/css" href="{% static 'survey/css/vendor/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'survey/font/fonts.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'survey/css/app/survey2.css' %}" />
</head>

<body id='page-top'>
  {% block content %}
  <!-- Content Goes here -->
  {% endblock content %}
  <!-- Footer -->
  <footer class='py-3 text-white-50 footer-shadow bg-dark'>
    <div class='container my-auto'>
      <div class='text-left my-auto' style='font-family: Raleway'>
        Copyright &copy; <span style='font-family: GoogleSans'>{% now 'Y' %}</span> | Created for SafeCare Ghana. All
        rights
        reserved.
      </div>
    </div>
  </footer>

  <!-- Back to top -->
  <a class='scroll-to-top rounded-circle shadow' href='#page-top'>
    <i class='fas fa-angle-up'></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="{% static 'survey/js/vendor/bootstrap.min.js' %}"></script>

  <!-- Core plugin JavaScript -->
  <script src="{% static 'survey/js/vendor/jquery.easing.min.js' %}"></script>

  <!-- Demo scripts for this page -->
  <script src="{% static 'survey/js/vendor/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'survey/js/vendor/notiflix-aio-3.2.2.min.js' %}"></script>

  <script src="{% static 'survey/js/app/response.js' %}"></script>
</body>

</html>